.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    z-index: 1000;
    color: rgb(201, 45, 201);
    font-size: 72px;
    background-color: black;
    margin-top: 10px;
  }

  background-image: url("./assets/stars.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skillsSection {
  background-image: url("./assets/thunderstorm.jpg");
  /* Set a specific height */
  height: 100vh;

  h1{
      font-size: 66px;
      color: white;
      background-color: rgb(32, 32, 206);
      margin: 20px 0;
      font-weight: bolder;
  }

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      width: 85%;
  }
  li{
      font-size: 36px;
      color: white;
      margin: 30px;
      padding: 15px;
      background-color: rgb(32, 32, 206);
  }
}
